<p>
	Travis CI handles the Continuous Integration via Git. Heroku is configured for Continuous Deployment. Sinatra app code is hosted on GitHub  with MiniTest suite. You can run the application by inputting a number at the end of this production browser url. For example: <em>https://glacial-fjord-79432.herokuapp.com/21</em>. 
 </p>

<p> The app will return the number you entered as well as the additional info below:
	<ul>	
		<li>factors</li>
		<li>predecessor number</li>
		<li>odd status</li>
		<li>successor number</li>
		<li>even status</li>
		<li>half the number</li>
		<li>prime status</li>
	</ul>
</p>

